canvas {
  position: absolute;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: -1;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  .popo_nav {
    padding: 10px;
    margin: 0;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      li {
        display: inline-block;
        font-family: "Bagel Fat One", cursive;
        font-size: 40px;
      }
      .헤더 {
        margin-right: 35%;
        a {
          color: black;
          text-decoration: none;
          &:hover,
          &::after {
            color: #f72485;
          }
        }
      }
      .남정욱 {
        margin-right: 7.5%;
        a {
          color: black;
          text-decoration: none;
          &:hover,
          &::after {
            color: #710ab7;
          }
        }
      }
      .황지욱 {
        margin-right: 20%;
        a {
          color: black;
          text-decoration: none;
          &:hover,
          &::after {
            color: #3b0ca3;
          }
        }
      }
    }
  }
}

.content {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    height: 300px;
    width: 300px;
    transition: all 0.5s;
    transition-delay: 0.4s;
    border-radius: 2%;
    float: left;
  }
  .box1 {
    width: 900px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 5px 5px 20px;
    margin: auto;
    margin-bottom: 30px;
    transition: all 0.5s;
    transition-delay: 0.4s;
    border-radius: 2%;
    background-color: white;
  }
  h1 {
    display: flex;
    font-size: 40px;
    font-family: "Bagel Fat One", cursive;
    justify-content: center;
    transition: all 0.5s;
    transition-delay: 0.4s;
  }
  .box1:hover {
    width: 1100px;
    height: 600px;
    img {
      height: 365px;
      width: 365px;
    }
    h1 {
      font-size: 60px;
    }
    .자기소개 {
      font-size: 26px;
    }
  }
  .자기소개 {
    font-family: "Bagel Fat One", cursive;
    margin-top: 5%;
    font-size: 20px;
    display: inline-block;
    transition: all 0.5s;
    transition-delay: 0.4s;
    align-items: right;
  }
  .link {
    color: black;
    text-decoration: none;
    .관련 {
      margin-top: 2.3%;
      margin-left: 1%;
      @extend .자기소개;
    }
  }
  .box2 {
    width: 900px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 5px 5px 20px;
    margin: auto;
    margin-bottom: 30px;
    transition: all 0.5s;
    transition-delay: 0.4s;
    border-radius: 2%;
    background-color: white;
  }
  h1 {
    display: flex;
    font-size: 40px;
    font-family: "Bagel Fat One", cursive;
    justify-content: center;
    transition: all 0.5s;
    transition-delay: 0.4s;
  }
  .box2:hover {
    width: 1100px;
    height: 600px;
    img {
      height: 365px;
      width: 365px;
    }
    h1 {
      font-size: 60px;
    }
    .자기소개 {
      font-size: 26px;
    }
  }
  .자기소개 {
    font-family: "Bagel Fat One", cursive;
    margin-top: 5%;
    font-size: 20px;
    display: inline-block;
    transition: all 0.5s;
    transition-delay: 0.4s;
    align-items: right;
  }
  .link {
    color: black;
    text-decoration: none;
    .관련 {
      margin-top: 2.3%;
      margin-left: 1%;
      @extend .자기소개;
    }
  }
}
